# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
/src/public/*build.js
/src/public/*746611e3acf554ec72978af665b6e188.jpg

# misc
.DS_Store
npm-debug.log